/* .btn-green {
  background-color: #08d15f;
  border-radius: 2px solid;
  color: white;
  width: 94px;
  height: 29px;

  font-family: "Josefin Sans";
  font-weight: 500;
  font-size: 12px;
  transition: 0.2s;
  display: none;
  place-content: center;

  border-radius: 2px;
} */

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  min-width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

.parent-container {
  padding: 0 15vw;
  width: 100vw;
  margin-top: 70px;
}

/* 1st part */

.primary {
  color: #7e33e0;
}

.bg-primary {
  background-color: #7e33e0;
}

.pink {
  color: #fb2e86;
}

.bg-pink {
  background-color: #fb2e86;
}

.color-lightPink {
  color: #fff6fb;
}

.bg-lightPink {
  background-color: #fff6fb;
}

.color-three {
  color: #f1f0ff;
}

.bg-color-three {
  background-color: #f1f0ff;
}

.color-four {
  color: #eeeffb;
}

.bg-color-four {
  background-color: #eeeffb;
}

.blue {
  color: #2f1ac4;
}

.bg-blue {
  background-color: #2f1ac4;
}

.green {
  color: #08d15f;
}

.bg-green {
  background-color: #08d15f;
}

.black {
  color: #000000;
}

.bg-black {
  background-color: #000000;
}

.btn-pink {
  background-color: #fb2e86;
  border-radius: 2px solid;
  color: white;
  width: 163px;
  height: 50px;
  border: 2px solid #fb2e86;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.02em;
  transition: 0.2s;
}

.button {
  width: 157px;
  height: 45px;
  border-radius: 2px;
  border: none;
  color: white;
  font-family: "Josefin Sans";
  font-size: 17px;
  display: grid;
  place-content: center;
  letter-spacing: 0.02em;
  margin: auto;
}

.btn-pink:hover {
  background-color: white;
  color: #fb2e86;
  box-sizing: border-box;
  border: 2px solid #fb2e86;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

/* .btn-green {
  background-color: #08d15f;
  border-radius: 2px solid;
  color: white;
  width: 94px;
  height: 29px;

  font-family: "Josefin Sans";
  font-weight: 500;
  font-size: 12px;
  transition: 0.2s;
  display: none;
  place-content: center;
  position: absolute;
  height: 29px;
  width: 94px;
  left: 95px;
  top: 220px;
  border-radius: 2px;
} */

.bg-green:hover {
  background-color: white;
  color: #08d15f !important;
  border: 2px solid #08d15f;
}

.heading-bar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  cursor: pointer;
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.login div {
  display: flex;
  margin: 0 10px;
}

.mail {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  padding-left: 60px;
}

.mail p {
  font-size: 16px;
  padding-left: 10px;
}

.pr {
  padding-right: 50px;
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 0 15vw;
  margin: 10px 0;
}
.nav-child-ccontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 5px;
  
  cursor: pointer;
}

.nav-child-ccontainer p {
  margin-left: 30px;
}

.nav-child-ccontainer p:hover {
  color: #fb2e86;
}

.nav-text {
  height: 34px;
  width: 98px;
  top: 3px;
  font-size: 34px;
  line-height: 34px;
  color: #0d0e43;
}

.home {
  padding-left: 20px;
}

.etc {
  color: #0d0e43;
}

.search-container {
  float: right;
  padding-left: 30px;
}

.search-container input[type="text"] {
  padding: 6px;
  font-size: 17px;
  width: 300px;
  height: 40px;
  border: 2px solid #e7e6ef;
}

.search-container button {
  float: right;
  padding: 8px 12px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.banner {
  height: 764px;
  background-color: #f2f0ff;
  display: flex;
  align-items: center;
  padding-right: 10vw;
  padding-left: 5vh;
}

.banner-block-1 {
  height: 100%;
}

.banner-block-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}
.banner-block-2 > * {
  margin: 20px 0;
}
.banner-block-2 p{
  padding-left: 20px;
  font-family: 'Lato';
  font-size: 16px;
  color: #fb2e86;
}
.banner-block-2 .header {
  font-size: 53px;
  height: 140px;
  width: 644px;
  text-align: left;
  letter-spacing: 0.015em;
  color: #000000;
 
}
.banner-p{
  font-family: "Lato";
  font-size: 16px;
  color: #8a8fb9;
}
.banner-block-2 .button {
  margin: 0;
  margin-left: 20px;
}
.banner-block-3 {
  display: grid;
  place-content: center;
}
.banner-block-3 .img-container {
  position: relative;
}
.off {
  position: absolute;
  right: 0px;
}
.off-content {
  position: relative;
}
.off .off-text {
  position: absolute;
  top: 20%;
  left: 30%;
  font-size: 35px;
  color: white;
}
.off img {
  max-width: 136.56px;
  max-height: 138.49px;
}
.circle {
  margin-top: -650px;
  width: 629px;
  height: 629px;

  border-radius: 50%;
}

.circle-1 {
  background-color: #F0E6FD;
}
.circle-2 {
  margin-left: 20px;
  background-color: #efdffc;
}
.banner-block-3 img {
  display: block;
  z-index: 9999999;
  width: 629px;
  height: 629px;
}
.cardtext1 {
  width: 100%;
  text-align: center;
  padding-top: 5px;
  font-family: "Lato", sans-serif;

  font-size: 18px;
  margin: 5px 0;
  color: #fb2e86;
}

.cardtext2 {
  width: 100%;
  text-align: center;
  padding-top: 5px;
  font-family: "Josefin Sans";
  font-size: 14px;
  margin: 5px 0;
  color: #151875;
}

.cardtext3 {
  width: 100%;
  text-align: center;
  padding-top: 5px;
  font-family: "Lato" !important;
  font-size: 14px;
  margin: 5px 0;
  color: #151875;
}

.fp-card {
  min-width: 270px;
  height: 361px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  margin: 10px;
}

.fp-card-img {
  background-color: #f6f7fb;
  padding: 20px;
  height: 236px;
  display: grid;
  place-content: center;
  /* position: relative; */
}

.fp-card-img img {
  min-height: 150px;
  max-height: 178px;
}

.fp-card-img .button {
  display: none;
  position: absolute;

  left: 55px;
  top: 170px;
}

.fp-card:hover {
  background-color: #7e33e0;
}

.fp-card:hover * {
  color: white;
}

.fp-card:hover .options {
  opacity: 1;
}

.fp-card:hover .button {
  display: grid;
}

.card-img img {
  width: 100%;
}

.p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pcolor1 {
  width: 14px;
  border-bottom: 4px solid #05e6b7;
  border-radius: 10px;
}

.pcolor2 {
  width: 14px;
  border-bottom: 4px solid #f701a8;
  border-radius: 10px;
}

.pcolor3 {
  width: 14px;
  border-bottom: 4px solid #00009d;
  border-radius: 10px;
}

.he1:hover {
  background-color: blue;
}

.fp-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  text-align: center;
  height: 42px;
  padding-bottom: 40px;
  font-size: 42px;
  line-height: 49px;
  color: #1a0b5b;
}

.options {
  position: absolute;
  top: 11px;
  left: 11px;
  display: flex;
  opacity: 0;
}

.options :nth-child(2),
.options :nth-child(3) {
  margin: 12px 4px;
}

.lp {
  padding-top: 30px;
  text-align: center;
}

.lp p {
  font-family: "Josefin Sans";
  font-size: 42px;
  line-height: 49px;
  color: #151875;
}

.lp-links {
  width: 60%;
  height: 10%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  padding: 0 25px;
}

.lp-links a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #151875;
  text-decoration: none;
}

.lp-links a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #fb2e86;
}
.lp-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lp-container:nth-last-child(1) {
  margin-top: 100px;
}
.lp-card {
  cursor: pointer;
}
.lp-card-top .options {
  flex-direction: column;
  align-items: center;
  justify-content: end;
  bottom: 10px;
}
.lp-card-top .promo {
  color: white;
  position: absolute;
}
.lp-card-top .promo-text {
  position: relative;
}
.lp-card-top .promo-text {
  position: absolute;
  transform: rotate(-20deg);
  top: 20px;
  left: 30px;
}
.lp-card .lp-card-top {
  position: relative;
  background-color: #f7f7f7;
  width: 360px;
  height: 269.96px;
  display: grid;
  place-content: center;
}

.lp-card-footer {
  display: flex;
  justify-content: space-between;
}

.lp-card:hover .lp-card-top {
  background-color: white;
}

.lp-card:hover .lp-card-top .options {
  opacity: 1;
}
/* 1st part */

/* offer-start */

.header {
  font-family: "Lato";
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 42px;
  line-height: 49px;
  color: #151875;
}

.header:hover {
  text-decoration: undeuf-listne;
}

.offer-card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.o-card {
  background-color: white;
  width: 270px;
  height: 320px;
  box-shadow: 2px 8px 40px rgba(49, 32, 138, 0.05);
  text-align: center;
}

.o-card img {
  padding: 5px;
  padding-top: 50px;
}
.o-card h1{
  font-family: "Josefin Sans";
  font-size: 22px;
  color: #151875;
}
.o-card h4 {
  padding-top: 15px;
  font-size: 16px;
  color: rgba(26, 11, 91, 0.3);
  font-family: "Lato";
  font-weight: normal;
}
/* offer-end */

/* user features  */

.unique-feature-block {
  height: 579px;
  background-color: #f1f0ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uf-img {
  width: 509px;
  height: 550px;
}

.uf-content {
  margin-left: 60px;
}

.uf-header {
  width: 507px;
  height: 92px;
}

.uf-header {
  font-family: "Josefin Sans";
  font-size: 35px;
  line-height: 132%;
  letter-spacing: 0.015em;
  color: #151875;
}

.uf-list {
  width: 461px;
  margin: 20px 0;
}

.uf-list ul {
  display: table;
}

.uf-list li {
  display: table-row;
  font-family: "Lato";
  font-size: 16px;
  letter-spacing: 0.015rem;
  color: #acabc3;
  font-weight: 500;
  padding: 5px 0;
}

.uf-list li:before {
  font-size: 40px;
}

.uf-list li::before {
  content: counter(foo) ".";
  display: table-cell; /* aha! */
  text-align: right;
}

.uf-list li:nth-last-child(1)::before {
  content: "• ";
  color: #2bf5cc;
}

.uf-list li:nth-last-child(2)::before {
  content: "• ";
  color: #2b2bf5;
}

.uf-list li:nth-last-child(3)::before {
  content: "• ";
  color: #f52b70;
}

.uf-list li span {
  position: relative;
  top: -8px;
  left: 10px;
}

.uf-footer {
  display: flex;
  justify-content: space-evenly;
  padding-right: 300px;
}

.uf-footer-content {
  width: 130px;
  height: 30px;
  padding-left: 15px;
  padding-top: 5px;
  font-family: "Josefin Sans";
  font-size: 14px;
  color: #151875;
  margin-left: 20px;
}
/* user features  */

/* trending products  */

.text {
  text-align: center;
}

.text p {
  padding: 20px;
  font-size: 42px;
  line-height: 49px;
  color: #151875;
}

.tf-card-container {
  display: flex;
  justify-content: space-between;
}

.tf-card {
  height: 350px;
  width: 250px;
  background-color: #ffff;
  box-shadow: 1px 1px 2px 2px #e0e0e0;
  cursor: pointer;
  margin: 14.5px;
}

.tf-img {
  height: 244px;
  margin: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
}

.tf-title {
  width: 112px;
  height: 26px;
  font-family: "lato";
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  color: #151875;
  background-color: white;
}

.tf-footer {
  display: grid;
  place-content: center;
  height: calc(350px - 244px - 22px); /* calc( cardHeight - card-img-height - card-img-mergin ) */
}

.tf-price-tag {
  display: flex;
  justify-content: center;
}

.price-tag-1 {
  height: 14px;
  width: 43px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #151875;
  padding-right: 10px;
  margin-right: 10px;
}

.price-tag-2 {
  height: 12px;
  width: 37px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: rgba(21, 24, 117, 0.3);
  text-decoration-line: line-through;
}

.tf-card-2-large {
  width: 420px;
  height: 270px;
  padding: 40px 30px;
  margin-top: 20px;
  background-color: #fff6fb;
  box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
}

.tf-card-2-large:hover {
  background-color: #eeeffb;
  box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
  cursor: pointer;
}

.tf-card-2-larg-heading {
  width: 269px;
  height: 26px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  color: #151875;
}

.tf-card-2-larg-link {
  width: 74px;
  height: 19px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-decoration-line: underline;
  color: #fb2e86;
  position: absolute;
  margin-top: 15px;
}

.tf-card-2-larg-link-2 {
  width: 120px;
  height: 19px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-decoration-line: underline;
  color: #fb2e86;
  position: absolute;
  margin-top: 15px;
}

.tf-card-2-larg-img {
  width: 213px;
  height: 207px;
  margin-left: 180px;
  margin-top: 5px;
}

.tf-card-2-small {
  height: 270px;
  width: 278px;
  margin-top: 20px;
}

.tf-card-2-small-card {
  height: 90px;
  width: 275px;
  display: flex;
}

.tf-card-2-small-img {
  width: 107px;
  height: 74px;
  background-color: #f5f6f8;
}

.tf-small-text {
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 151px;
  padding-left: 2px;
}

.tf-card-2-small-heading {
  font-family: "Josefin Sans";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #151875;
  padding-top: 20px;
}

.tf-card-2-small-price {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-decoration-line: line-through;
  color: #151875;
}
/* trending products  */

/* footer */

.footer {
  margin-top: 150px !important;
  background-color: #eeeffb;
}

.footer-section-1 {
  height: 480px;
  display: flex;
  justify-content: space-between;
}

.section-1-heading {
  font-family: "Josefin Sans";
  font-size: 38px;
  color: #000000;

  padding-top: 95px;
}

.sing-up-form {
  display: flex;
  margin: 20px 0;
  opacity: 0.45;
}

.sing-up-form input {
  width: 242px;
  height: 40px;
  outline: none;
  border: none;
  padding: 10px;
}

.sing-up-form placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #8a8fb9;
}

.sing-up-form button {
  height: 39px;
  width: 135px;
}

.section-1-address {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #8a8fb9;
  margin-top: 20px;
}

.Section-2-heading {
  padding-top: 95px;
  font-family: "Josefin Sans";
  font-size: 22px;
  color: #000000;
}

.footer-section-1-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #8a8fb9;
  margin-top: 30px;
}

.footer-2 {
  background-color: #e7e4f8;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section-left {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #9da0ae;
}

.section-right i {
  color: #151875;
  padding: 3px;
}
/* footer */
